<div id="annotationNote">
	<div class="shadow" ng-show="toolbar.draw.note.edit.show">
		<div class="shadowDismiss" ng-click="toolbar.draw.note.edit.save()"></div>
		<div class="dialogWrap">
			<div class="dialog" ng-style="toolbar.draw.note.edit.style">
				<div class="overlay">
					<div class="annotationNoteDate" ng-show="toolbar.draw.note.edit.date">{{toolbar.draw.note.edit.date | date:'MMMM d, yyyy'}} &nbsp; {{toolbar.draw.note.edit.date | date:'h:mm a'}}</div>
					<div class="annotationNoteText" style="">
						<textarea ng-model="toolbar.draw.note.edit.note" placeholder="Enter Note" show-focus="toolbar.draw.note.edit.show" style="resize:none;overflow:auto;"></textarea>
					</div>
					<div>
						<button class="annotationNoteSave normal_btn" ng-click="toolbar.draw.note.edit.save()">Close</button>
						<button class="annotationNoteDiscard" ng-click="toolbar.draw.note.edit.remove()" title="Delete Note"><i class="fa fa-trash-o fa-2x" style="font-size:28px;"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>