<div id="annotateClear">
	<div class="shadow" ng-show="toolbar.draw.clearConfirm">
		<div class="shadowDismiss" ng-click="toolbar.draw.clearConfirm=false"></div>
		<div class="dialogWrap">
			<div class="dialog">
				<div class="dialog_title">All Annotations Will Be Deleted!</div>
				<div class="dialog_message">Are you sure you want to clear all annotations and<br>notes from this page?</div>
				<div class="dialogBtnWrap">
					<button ng-click="toolbar.draw.clearConfirm=false" class="cancel_btn">No</button>
					<button ng-click="toolbar.draw.clear()" class="normal_btn">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>