<div id="pdf-callout-wrap" ng-dragover="Page.calloutDragOver($event)" ng-dragdrop="Page.calloutDrop($event)"
		ng-style="PDFViewer.calloutWrapStyle">
	<div data-ng-repeat="callout in PDFViewer.annotations.callouts.unordered track by $index"
			ng-repeat-finish="PDFViewer.Canvas.refresh();"
			ng-attr-id="{{'callout_element_'+callout.Index}}"
			ng-show="callout.State.visible"
			ng-style="callout.Style.element">
		<canvas ng-attr-id="{{'callout_canvas_'+callout.Index}}"
				ng-attr-width="{{callout.View.Initial.width}}"
				ng-attr-height="{{callout.View.Initial.height}}"
				ng-style="callout.Style.canvas"
				ng-click="callout.Event.canvas.click($event);"
				ng-dblclick="callout.Event.canvas.dblclick($event);"
				ng-mousemove="callout.Event.canvas.move($event);"
				ng-mousedown="callout.Event.canvas.down($event);"
				ng-mouseup="callout.Event.canvas.up($event);"
				ng-mouseenter="callout.Event.canvas.enter($event);"
				ng-mouseleave="callout.Event.canvas.leave($event);"
				ng-touchmove="callout.Event.canvas.touchmove($event);"
				ng-touchstart="callout.Event.canvas.touchdown($event);"
				ng-touchend="callout.Event.canvas.touchup($event);"
				class="calloutCanvas"></canvas>
		<div ng-attr-id="{{'callout_close_'+callout.Index}}"
				ng-style="callout.Style.close"
				ng-show="callout.State.closeable"
				ng-click="callout.close($event);"><div ng-style="callout.Style.closeImg"><img ng-src="/img/ipad/icons/callout-close.png" width="30" height="30"></div></div>
	</div>
</div>
