<div id="pdf-page-wrap" ng-style="toolbar.rotate.orientationStyle" data-scroll="scroll" ng-click="PDFViewer.Canvas.events.simple.click($event);">
	<div id="pdf-page" class="pdf-page" ng-style="Page.pageStyle">
		<div id="pdf-wrap-canvas" class="pdf-canvas-wrap" ng-style="Page.wrapStyle">
			<canvas id="pdf-page-canvas" ng-style="Page.canvasStyle" width="{{Page.size.width}}" height="{{Page.size.height}}"></canvas>
			<div class="pdf-capture" style="position:fixed;top:0;left:0;right:0;bottom:0;"
				ng-click="PDFViewer.Canvas.events.mouse.click($event);"
				ng-mousemove="PDFViewer.Canvas.events.mouse.move($event);"
				ng-mousedown="PDFViewer.Canvas.events.mouse.down($event);"
				ng-mouseup="PDFViewer.Canvas.events.mouse.up($event);"
				ng-mouseenter="PDFViewer.Canvas.events.mouse.enter($event);"
				ng-mouseleave="PDFViewer.Canvas.events.mouse.leave($event);"
				ng-touchmove="PDFViewer.Canvas.events.mouse.touchmove($event);"
				ng-touchstart="PDFViewer.Canvas.events.mouse.touchdown($event);"
				ng-touchend="PDFViewer.Canvas.events.mouse.touchup($event);"
				ng-swipe-right="swipePreviousPage($event);"
				ng-swipe-left="swipeNextPage($event);"></div>
			<div ng-if="Page.imagePath">
				<img id="pdf-page-img" ng-src="{{Page.imagePath}}" alt="" style="display:none !important;" data-bind-load="didLoad($event)" />
			</div>
			<nav id="modifyMainMenu" class="modify-main-menu" ng-style="toolbar.draw.modify.menu.style">
				<button ng-show="toolbar.draw.modify.menu.category !== 'none'" class="modify-button first" ng-click="toolbar.draw.modify.menu.click($event, 'color')">Color...</button>
				<button ng-show="toolbar.draw.modify.menu.category === 'scribble'" class="modify-button" ng-click="toolbar.draw.modify.menu.click($event, 'thickness')">Thickness...</button>
				<button ng-show="toolbar.draw.modify.menu.category !== 'note'" class="modify-button" ng-click="toolbar.draw.modify.menu.click($event, 'opacity')">Opacity...</button>
				<button ng-show="toolbar.draw.modify.menu.category === 'note'" class="modify-button" ng-click="toolbar.draw.modify.menu.clickEditNote($event)">Edit Note</button>
				<button class="modify-button last" ng-click="toolbar.draw.modify.menu.click($event, 'delete')">Delete</button>
			</nav>
			<nav id="modifyColorMenu" class="modify-sub-menu" ng-style="toolbar.draw.modify.colorMenu.style">
				<div class="title">Color</div>
				<button ng-repeat="color in toolbar.draw.modify.colorMenu.colorArray" class="modify-button" style="background:{{color}};" ng-class="color===toolbar.draw.modify.colorMenu.current?'selected':''" ng-click="toolbar.draw.modify.colorMenu.click($event, color)">&nbsp;</button>
			</nav>
			<nav id="modifyThicknessMenu" class="modify-sub-menu" ng-style="toolbar.draw.modify.thicknessMenu.style">
				<div class="title">Thickness</div>
				<div><button ng-repeat="thickness in toolbar.draw.modify.thicknessMenu.thicknessArray track by $index" class="modify-button" ng-class="thickness===toolbar.draw.modify.thicknessMenu.current?'selected':''" ng-click="toolbar.draw.modify.thicknessMenu.click($event, thickness)"><div class="line{{$index+1}}"></div></button></div>
			</nav>
			<nav id="modifyOpacityMenu" class="modify-sub-menu" ng-style="toolbar.draw.modify.opacityMenu.style">
				<div class="title">Opacity</div>
				<table>
				<tr>
					<td ng-repeat="opacity in toolbar.draw.modify.opacityMenu.opacityArray">
						<button  class="modify-button" ng-click="toolbar.draw.modify.opacityMenu.click($event, opacity)" style="opacity:{{opacity}}" ng-class="opacity===toolbar.draw.modify.opacityMenu.current?'selected':''">&nbsp;</button>
						<div>{{Math.floor(opacity*100)}}%</div>
					</td>
				</tr>
				</table>
			</nav>
		</div>
	</div>
</div>
