<div id="page-arrow-btns" ng-if="PDFViewer.annotations.mode != 'presentation' && PDFViewer.annotations.mode != 'stamp'">
	<div id="arrow-prev-container">
		<button id="arrow-prev-button" ng-click="previousPage($event)" ng-disabled="Page.number <= 1" ng-show="toolbar.page.showNavBtns">
			<i class="fa fa-chevron-left"></i>
		</button>
	</div>
	<div id="arrow-next-container" style="">
		<button id="arrow-next-button" ng-click="nextPage($event);" ng-disabled="Page.number >= PDFViewer.pages.length" ng-show="toolbar.page.showNavBtns">
			<i class="fa fa-chevron-right"></i>
		</button>
	</div>
</div>