<div id="pgNum" ng-show="PDFViewer.annotations.mode!='stamp'">
	<div id="pgNumBanner" ng-show="toolbar.page.showNavBtns" ng-click="PDFViewer.annotations.mode!='presentation'?toggle():0">Page <span id="page-num">{{Page.number}}</span> of <span id="page-total">{{PDFViewer.pages.length}}</span></div>
	<div class="shadow" ng-show="showPageNumDialog">
		<div class="shadowDismiss" ng-click="toggle()"></div>
		<div class="dialogWrap">
			<div class="dialog">
				<div class="dialog_title">Enter a Page Number</div>
				<div ng-show="pageNumDialogError" class="dialog_error"><span>Invalid value</span></div>
				<div ng-hide="pageNumDialogError" class="dialog_message">Enter a number from 1 to {{PDFViewer.pages.length}}</div>
				<div ng-show="pageNumDialogError" class="dialog_error_message">Number <b>must</b> be between 1 to {{PDFViewer.pages.length}}</div>
				<div>
					<input id="jump-to" ng-model="Page.jumpToPage" ng-keyup="($event.which===13)?selectPage():0" placeholder="{{Page.number}}" show-focus="showPageNumDialog" />
				</div>
				<div class="dialogBtnWrap">
					<button ng-click="toggle()" class="cancel_btn">Cancel</button>
					<button ng-click="selectPage();" class="normal_btn">Go to Page</button>
				</div>
			</div>
		</div>
	</div>
</div>
