<div id="pdf-toolbar-wrap">
	<div id="thumbnail-disable" ng-show="PDFViewer.viewMode==='thumbnails'"></div>
	<div id="pdf-toolbar">
		<div id="nav-tools">
			<div class="nav-group">
			<div class="nav-btn-wrap"  ng-style="toolbar.search.showStyle">
				<button class="nav-btn last" title="Search" ng-click="toolbar.search.toggle()"><i class="fa fa-search"></i></button>
				<div class="nav-menu-popup" ng-show="toolbar.search.show">
					<div class="nav-menu-wrap search">
						<div class="nav-menu-row">
						<div class="nav-menu-item"><input type="text" placeholder="Search" ng-model="toolbar.search.keywords" ng-focus="ignoreArrowKeys(true)" ng-blur="ignoreArrowKeys(false)" ng-keyup="toolbar.search.keyup($event)" show-focus="toolbar.search.show" /></div>
						<div class="nav-menu-item last"><button class="nav-btn" ng-click="toolbar.search.previous($event)" ng-disabled="PDFViewer.searchResults.documentHits <= 1"><i class="fa fa-caret-left"></i></button>
							<button class="nav-btn" ng-click="toolbar.search.next($event)" ng-disabled="PDFViewer.searchResults.documentHits <= 1"><i class="fa fa-caret-right"></i></button></div>
						<div class="nav-menu-item nav-menu-text" ng-show="PDFViewer.searchInProgress"><i class="fa fa-spinner fa-pulse"></i>&nbsp;Searching&nbsp;</div>
						<div class="nav-menu-item nav-menu-text" ng-show="toolbar.search.isActive">{{toolbar.search.position()}}/{{toolbar.search.matches()}} matches</div>
						<div class="nav-menu-item nav-menu-text last" ng-show="!toolbar.search.isDoneBtn" style="float:right;"><button class="nav-btn" ng-click="toolbar.search.next($event)" style="line-height:18px;">Search</button></div>
						<div class="nav-menu-item nav-menu-text last" ng-show="toolbar.search.isDoneBtn" style="float:right;"><button class="nav-btn" ng-click="toolbar.search.hide($event)" style="line-height:18px;">Done</button></div>
						<div style="display:none;" ng-show="toolbar.search.results()"></div>
						</div>
					</div>
				</div>
			</div>
			<div  class="nav-btn-divider"></div>
			<!--div ng-show="getShowOrientation()"  class="nav-btn-wrap">
				<button class="nav-btn orientation portrait" ng-class="Page.isPortrait" title="Portrait" ng-click="portraitOrientation($event)"><img src="/img/portrait.png" alt="portrait"/></button>
				<button class="nav-btn orientation landscape" ng-class="Page.isLandscape" title="Landscape" ng-click="landscapeOrientation($event)"><img src="/img/landscape.png" alt="landscape"/></button>
			</div>
			<div ng-show="getShowOrientation()"  class="nav-btn-divider"></div-->
			<div class="nav-btn-wrap">
				<select id="scale-select" title="Zoom" class="scale-select" ng-model="Page.scaleOption" ng-options="opt.label for opt in (Page.scaleOptions | filter:{show:'!no'}) track by opt.id" ng-change="selectScale($event)" ></select>
				<button class="nav-btn" title="Zoom Out" ng-click="zoomOut($event)"><i class="fa fa-minus"></i></button>
				<button class="nav-btn" title="Zoom In" ng-click="zoomIn($event)"><i class="fa fa-plus"></i></button>

			</div>
			<div class="nav-btn-divider"></div>
			<div class="nav-btn-wrap">
				<button class="nav-btn" title="Rotate Left" ng-click="toolbar.rotate.left($event)"><i class="fa fa-undo"></i></button>
				<button class="nav-btn" title="Rotate Right" ng-click="toolbar.rotate.right($event)"><i class="fa fa-repeat"></i></button>
			</div>

			<div class="nav-group editor_actions">
			<div class="nav-btn-divider"></div>

			<div class="nav-btn-wrap" ng-style="toolbar.draw.arrow.modeStyle">
				<div title="Arrow" class="arrow draw_btn" ng-click="toolbar.draw.arrow.toggleMode()">
					<div class="draw_color" id="btnArrowColorDisplay" ng-style="toolbar.draw.arrow.colorStyle"></div>
					<img src="/img/ipad/button/btnArrowU53x36.png" width="35" height="24" class="U" ng-show="!toolbar.draw.arrow.mode">
					<img src="/img/ipad/button/btnArrowS53x36.png" width="35" height="24" class="S" ng-show="toolbar.draw.arrow.mode">
				</div>
				<div title="Arrow Color" class="colorArrow draw_btn round_right down" ng-click="toolbar.draw.arrow.toggleMenu()">
					<img src="/img/ipad/button/btnDownU30x36.png" width="20" height="24" class="U">
				</div>
				<div class="nav-menu-popup" ng-show="toolbar.draw.arrow.showMenu">
					<div class="nav-menu-wrap">
						<div class="nav-menu-row">
						<div ng-repeat="color in toolbar.draw.colorArray" class="draw-menu-color" style="background-color:{{color}};" ng-click="toolbar.draw.arrow.setColor(color);"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-btn-wrap" ng-style="toolbar.draw.highlight.modeStyle">
				<div title="Highlight" class="textSelect draw_btn" ng-click="toolbar.draw.highlight.toggleMode()">
					<div class="draw_color" id="btnMarkerColorDisplay" ng-style="toolbar.draw.highlight.colorStyle"></div>
					<img src="/img/ipad/button/btnMarkerU53x36.png" width="35" height="24" class="U" ng-show="!toolbar.draw.highlight.mode">
					<img src="/img/ipad/button/btnMarkerS53x36.png" width="35" height="24" class="S" ng-show="toolbar.draw.highlight.mode">
				</div>
				<div title="Highlight Color" class="colorSelect draw_btn round_right down" ng-click="toolbar.draw.highlight.toggleMenu()">
					<img src="/img/ipad/button/btnDownU30x36.png" width="20" height="24" class="U">
				</div>
				<div class="nav-menu-popup" ng-show="toolbar.draw.highlight.showMenu">
					<div class="nav-menu-wrap">
						<div class="nav-menu-row">
						<div ng-repeat="color in toolbar.draw.colorMarkerArray" class="draw-menu-color" style="background-color:{{color}};" ng-click="toolbar.draw.highlight.setColor(color);"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-btn-wrap" ng-style="toolbar.draw.pencil.modeStyle">
				<div title="Pencil" class="drawing draw_btn" ng-click="toolbar.draw.pencil.toggleMode()">
					<div class="draw_color" id="btnPencilColorDisplay" ng-style="toolbar.draw.pencil.colorStyle"></div>
					<img src="/img/ipad/button/btnPencilU53x36.png" width="35" height="24" class="U" ng-show="!toolbar.draw.pencil.mode">
					<img src="/img/ipad/button/btnPencilS53x36.png" width="35" height="24" class="S" ng-show="toolbar.draw.pencil.mode">
				</div>
				<div title="Pencil Color" class="colorDraw draw_btn round_right down" ng-click="toolbar.draw.pencil.toggleMenu()">
					<img src="/img/ipad/button/btnDownU30x36.png" width="20" height="24" class="U">
				</div>
				<div class="nav-menu-popup" ng-show="toolbar.draw.pencil.showMenu">
					<div class="nav-menu-wrap">
						<div class="nav-menu-row">
						<div ng-repeat="color in toolbar.draw.colorArray" class="draw-menu-color" style="background-color:{{color}};" ng-click="toolbar.draw.pencil.setColor(color);"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-btn-wrap" ng-style="toolbar.draw.note.modeStyle">
				<div title="Note" class="note draw_btn" ng-click="toolbar.draw.note.toggleMode()">
					<div class="draw_color" id="btnNoteColorDisplay" ng-style="toolbar.draw.note.colorStyle"></div>
					<img src="/img/ipad/button/btnNoteU53x36.png" width="35" height="24" class="U" ng-show="!toolbar.draw.note.mode">
					<img src="/img/ipad/button/btnNoteS53x36.png" width="35" height="24" class="S" ng-show="toolbar.draw.note.mode">
				</div>
				<div title="Note Color" class="colorNote draw_btn round_right down" ng-click="toolbar.draw.note.toggleMenu()">
					<img src="/img/ipad/button/btnDownU30x36.png" width="20" height="24" class="U">
				</div>
				<div class="nav-menu-popup" ng-show="toolbar.draw.note.showMenu">
					<div class="nav-menu-wrap">
						<div class="nav-menu-row">
						<div ng-repeat="color in toolbar.draw.colorArray" class="draw-menu-color" style="background-color:{{color}};" ng-click="toolbar.draw.note.setColor(color);"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-btn-wrap" ng-style="toolbar.draw.callout.modeStyle">
				<div title="Callout" class="callout draw_btn round_right" ng-click="toolbar.draw.callout.toggleMode()">
					<img src="/img/ipad/button/btnCalloutU188x154.png" width="29" height="24" class="U" ng-show="!toolbar.draw.callout.mode">
					<img src="/img/ipad/button/btnCalloutS188x154.png" width="29" height="24" class="S" ng-show="toolbar.draw.callout.mode">
				</div>
			</div>
			<div class="nav-btn-wrap" ng-style="toolbar.draw.erase.modeStyle">
				<div title="Erase" class="erase draw_btn round_right" ng-click="toolbar.draw.erase.toggleMode()">
					<img src="/img/ipad/button/btnEraseU44x36.png" width="29" height="24" class="U" ng-show="!toolbar.draw.erase.mode">
					<img src="/img/ipad/button/btnEraseS44x36.png" width="29" height="24" class="S" ng-show="toolbar.draw.erase.mode">
				</div>
			</div>
			<div class="nav-btn-wrap">
				<div title="Undo" class="undo draw_btn round_right" ng-click="toolbar.draw.undo.click($event)" ng-disabled="PDFViewer.annotations.undo.length===0">
					<img src="/img/ipad/button/btnUndoU44x36.png" width="29" height="24" class="U">
				</div>
			</div>
			<div class="nav-btn-divider"></div>
			<div class="nav-btn-wrap"><button class="nav-btn" title="Clear All Annotations" ng-click="toolbar.draw.clearPrompt()">&nbsp;Clear&nbsp;</button></div>

			</div>

			<div class="nav-btn-divider"></div>

			<div class="nav-btn-wrap"><button class="nav-btn thumbs" title="View Page" ng-click="PDFViewer.Toolbar.showPage()"><i style="padding-left:3px;padding-right:3px;"><img src="/img/ipad/icons/page.png" height="12"></i></button></div>
			<div class="nav-btn-wrap" ng-show="PDFViewer.viewMode==='page'"><button class="nav-btn" title="View Thumbnails" ng-click="PDFViewer.Toolbar.showThumbnails()"><i style="padding-left:3px;padding-right:3px;"><img src="/img/ipad/icons/thumb.png" height="12"></i></button></div>

		</div>
	</div>
</div>
