<div id="stampDialog">
	<div class="shadow" ng-show="Stamp.show">
		<div class="shadowDismiss" ng-click="Stamp.place()"></div>
		<div class="dialogWrap">
			<div class="dialog" id="dialogIntroduceInput">
				<div style="position:relative;height:116px;margin:0;">
					<form>
					<span id="stampTitleShadow" style="position:fixed;top:-10000px;left:-10000px;white-space:nowrap;font-size:23px;">{{Stamp.title.myValue}}</span>
					<span id="stampSubtitleShadow" style="position:fixed;top:-10000px;left:-10000px;white-space:nowrap;font-size:23px;">{{Stamp.subtitle.myValue}}</span>
					<div style="height:33%;"><input type="text" id="stampTitleInput" ng-model="Stamp.title.myValue" placeholder="{{Stamp.title.defaultValue}}" show-focus="Stamp.show" style="height:38px;font-size:22px;line-height:38px;" ng-keydown="Stamp.title.keydown($event)" ng-keyup="Stamp.title.keyup($event)" ng-trim="false"></div>
					<div style="height:33%;"><input type="text" id="stampSubtitleInput" ng-model="Stamp.subtitle.myValue" style="height:38px;font-size:22px;line-height:38px;" ng-keydown="Stamp.subtitle.keydown($event)" ng-keyup="Stamp.subtitle.keyup($event)" ng-trim="false"></div>
					<input type="submit" id="stampDialogFormSubmit" value="Submit" style="border:0;padding:0;margin:0;width:0;height:0;opacity:0;">
					<div id="dialogDateInput" style="border-top:2px solid #000;height:33%;vertical-align:middle;text-align:center;"><input type="text" id="stampDateInput" ng-model="Stamp.date.myValue" date="{minDate:Stamp.date.minimumValue,constrainInput:true,showOn:'both',buttonText:'<i class=\'fa fa-calendar\'></i>'}" style="height:36px;font-size:16px;line-height:36px;margin:0 auto;" ng-required="true"></div>
					</form>
				</div>
				<button class="undo" ng-show="Stamp.undoStatus" ng-click="Stamp.undoBtn($event)"></button>
				<button class="redo" ng-show="!Stamp.undoStatus" ng-click="Stamp.redoBtn($event)"></button>
			</div>
		</div>
	</div>
</div>
