<div id="thumb-viewport"
	ng-click="PDFViewer.Canvas.events.simple.click($event);"
	ng-swipe-right="swipePreviousPage($event);"
	ng-swipe-left="swipeNextPage($event);">
	<div ng-style="{{boundsStyle}}" ng-click="thumbClick($event);">
	<div id="thumb-carousel">
		<div class="thumb-section-4" style="font-size:0;white-space:nowrap;">
			<div class="thumb-section-item" ng-show="thumb1.path" ng-click="selectPage(thumb1.pageNumber)">
				<div id="pdf-thumb1" class="pdf-thumbnail" ng-style="thumb1.style"></div>
				<div ng-if="thumb1.path">
					<img id="pdf-thumb1-img" ng-src="{{thumb1.path}}" alt="" style="display:none !important;" data-bind-load="didLoad($event, thumb1)" />
				</div>
				<div class="thumb-page-number">{{thumb1.pageNumber}}</div>
			</div>
			<div class="thumb-section-item" ng-show="thumb2.path" ng-click="selectPage(thumb2.pageNumber)">
				<div id="pdf-thumb2" class="pdf-thumbnail" ng-style="thumb2.style"></div>
				<div ng-if="thumb2.path">
					<img id="pdf-thumb2-img" ng-src="{{thumb2.path}}" alt="" style="display:none !important;" data-bind-load="didLoad($event, thumb2)" />
				</div>
				<div class="thumb-page-number">{{thumb2.pageNumber}}</div>
			</div>
			<div class="thumb-section-item" ng-show="thumb3.path" ng-click="selectPage(thumb3.pageNumber)">
				<div id="pdf-thumb3" class="pdf-thumbnail" ng-style="thumb3.style"></div>
				<div ng-if="thumb3.path">
					<img id="pdf-thumb3-img" ng-src="{{thumb3.path}}" alt="" style="display:none !important;" data-bind-load="didLoad($event, thumb3)" />
				</div>
				<div class="thumb-page-number">{{thumb3.pageNumber}}</div>
			</div>
			<div class="thumb-section-item" ng-show="thumb4.path" ng-click="selectPage(thumb4.pageNumber)">
				<div id="pdf-thumb4" class="pdf-thumbnail" ng-style="thumb4.style"></div>
				<div ng-if="thumb4.path">
					<img id="pdf-thumb4-img" ng-src="{{thumb4.path}}" alt="" style="display:none !important;" data-bind-load="didLoad($event, thumb4)" />
				</div>
				<div class="thumb-page-number">{{thumb4.pageNumber}}</div>
			</div>
			<!--div class="thumb-section-item" ng-show="thumb5.path" ng-click="selectPage(thumb5.pageNumber)">
				<div id="pdf-thumb5" class="pdf-thumbnail" ng-style="thumb5.style"></div>
				<div ng-if="thumb5.path">
					<img id="pdf-thumb5-img" ng-src="{{thumb5.path}}" alt="" style="display:none !important;" data-bind-load="didLoad($event, thumb5)" />
				</div>
				<div class="thumb-page-number">{{thumb5.pageNumber}}</div>
			</div-->

		</div>
	</div>
	</div>
</div>
