@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/opensans/v13/opensans-300.eot');
  src: url('/fonts/opensans/v13/opensans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('/fonts/opensans/v13/opensans-300.woff2') format('woff2'),
       url('/fonts/opensans/v13/opensans-300.woff') format('woff'),
       url('/fonts/opensans/v13/opensans-300.ttf') format('truetype'),
       url('/fonts/opensans/v13/opensans-300.svg#OpenSans') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/opensans/v13/opensans-regular.eot');
  src: url('/fonts/opensans/v13/opensans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('/fonts/opensans/v13/opensans-regular.woff2') format('woff2'),
       url('/fonts/opensans/v13/opensans-regular.woff') format('woff'),
       url('/fonts/opensans/v13/opensans-regular.ttf') format('truetype'),
       url('/fonts/opensans/v13/opensans-regular.svg#OpenSans') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/opensans/v13/opensans-600.eot');
  src: url('/fonts/opensans/v13/opensans-600.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('Open-Sans-600'),
       url('/fonts/opensans/v13/opensans-600.woff2') format('woff2'),
       url('/fonts/opensans/v13/opensans-600.woff') format('woff'),
       url('/fonts/opensans/v13/opensans-600.ttf') format('truetype'),
       url('/fonts/opensans/v13/opensans-600.svg#OpenSans') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/opensans/v13/opensans-700.eot');
  src: url('/fonts/opensans/v13/opensans-700.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('/fonts/opensans/v13/opensans-700.woff2') format('woff2'),
       url('/fonts/opensans/v13/opensans-700.woff') format('woff'),
       url('/fonts/opensans/v13/opensans-700.ttf') format('truetype'),
       url('/fonts/opensans/v13/opensans-700.svg#OpenSans') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/opensans/v13/opensans-300italic.eot');
  src: url('/fonts/opensans/v13/opensans-300italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light Italic'),
       local('Open-Sans-300italic'),
       url('/fonts/opensans/v13/opensans-300italic.woff2') format('woff2'),
       url('/fonts/opensans/v13/opensans-300italic.woff') format('woff'),
       url('/fonts/opensans/v13/opensans-300italic.ttf') format('truetype'),
       url('/fonts/opensans/v13/opensans-300italic.svg#OpenSans') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/opensans/v13/opensans-italic.eot');
  src: url('/fonts/opensans/v13/opensans-italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Italic'),
       local('Open-Sans-italic'),
       url('/fonts/opensans/v13/opensans-italic.woff2') format('woff2'),
       url('/fonts/opensans/v13/opensans-italic.woff') format('woff'),
       url('/fonts/opensans/v13/opensans-italic.ttf') format('truetype'),
       url('/fonts/opensans/v13/opensans-italic.svg#OpenSans') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/opensans/v13/opensans-600italic.eot');
  src: url('/fonts/opensans/v13/opensans-600italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold Italic'),
       local('Open-Sans-600italic'),
       url('/fonts/opensans/v13/opensans-600italic.woff2') format('woff2'),
       url('/fonts/opensans/v13/opensans-600italic.woff') format('woff'),
       url('/fonts/opensans/v13/opensans-600italic.ttf') format('truetype'),
       url('/fonts/opensans/v13/opensans-600italic.svg#OpenSans') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/opensans/v13/opensans-700italic.eot');
  src: url('/fonts/opensans/v13/opensans-700italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold Italic'),
       local('Open-Sans-700italic'),
       url('/fonts/opensans/v13/opensans-700italic.woff2') format('woff2'),
       url('/fonts/opensans/v13/opensans-700italic.woff') format('woff'),
       url('/fonts/opensans/v13/opensans-700italic.ttf') format('truetype'),
       url('/fonts/opensans/v13/opensans-700italic.svg#OpenSans') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
