@import url('normalize.css');

* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

iframe {
	border: none;
}

img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

li {
	display: list-item;
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
