@import url('reset.css');

body {
	width: 100%;
	height: 100%;
	background-color: #ddd;
	overflow: auto;
	/*font-family: "Open Sans", Arial, sans-serif;*/
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input:focus, button:focus, select:focus {
	outline: none !important;
	box-shadow: 0 0 2px 2px rgba(59,153,252,0.5);
}

/*#pdf-toolbar-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #777;
	border-bottom:1px solid #555;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index:1175;
}*/

#pdf-toolbar-wrap {
	position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #00a0dd;
    border-bottom: 1px solid #5fbb46;
    /*box-shadow: #f4f4f4 0px 2px 5px 0px;*/
    box-sizing: border-box;
    z-index: 1175;
}

#thumbnail-disable {
	position: fixed;
    width: 100%;
    height: 30px;
    background-color: rgba(100,100,100,0.6);
    z-index: 1176;
}

#pdf-toolbar {

	height: 27px;
	font-size: 14px;
	margin: auto;
    width: 98%;
    padding: 1px;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#pdf-toolbar > div {
	/*float: left;*/
}

#annotate-tools > div {
	float: left;
}

#opacity-picker > div {
	float: left;
}

#width-picker > div {
	float: left;
}

#color-picker > div {
	float: left;
}

#nav-tools {
	position:relative;
}

#nav-group {
	position:relative;
}

#nav-tools > div, #nav-tools div.nav-group > div {
	display: inline-block;
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#nav-tools button {
	border:1px solid rgba(0,0,0,0.7);
}

.nav-btn-wrap {
	position:relative;
	padding:3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-btn-wrap .nav-btn {
	position:relative;
	display: block;
	float:left;
	color:#000;
	cursor: pointer;
	border: 1px solid #999;
	border-right: 0;
	padding: 1px;
	min-width: 24px;
	height: 24px;
	text-align: center;
	background-color: #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: rgb(248,248,248);
	background: -moz-linear-gradient(top, rgb(248,248,248) 0%, rgb(148,148,148) 100%);
	background: -webkit-linear-gradient(top, rgb(248,248,248) 0%, rgb(148,148,148) 100%);
	background: -ms-linear-gradient(top, rgb(248,248,248) 0%, rgb(148,148,148) 100%);
	background: linear-gradient(to bottom, rgb(248,248,248) 0%, rgb(148,148,148) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#949494', GradientType=0 );
}

.nav-btn-wrap .nav-btn:hover,
.nav-btn-wrap .nav-btn.selected {
	background: rgba(248,248,248,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(196,196,196,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(196,196,196,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(196,196,196,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(196,196,196,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(196,196,196,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(196,196,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa', GradientType=0 );
}

.nav-btn:disabled, .nav-btn:disabled:hover {
	background: rgba(248,248,248,1);
	background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(128,128,128,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,248,248,1)), color-stop(100%, rgba(128,128,128,1)));
	background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(128,128,128,1) 100%);
	background: -o-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(128,128,128,1) 100%);
	background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(128,128,128,1) 100%);
	background: linear-gradient(to bottom, rgba(248,248,248,1) 0%, rgba(128,128,128,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#888888', GradientType=0 );
	opacity: 0.5;
}

.nav-btn.selectable {
	min-width:15px;
}

.nav-btn-wrap .nav-btn:first-child {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.nav-btn-wrap .nav-btn:last-child, .nav-btn-wrap .nav-btn.last {
	border-right:1px solid #999;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.nav-btn-divider {
	width: 1px;
	height: 26px;
	background: #2f2f2f;
	margin: 2px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-btn-color-display {
	position:absolute;
	top:18px;
	left:3px;
	width:16px;
	height:3px;
}

button.nav-btn.thumbs {
	z-index: 1177;
}

.nav-btn.orientation.active {
	background: rgb(163,171,188);
	background: -moz-linear-gradient(top, rgb(128,192,255) 5%, rgb(163,171,188) 95%);
	background: -webkit-linear-gradient(top, rgb(128,192,255) 5%, rgb(163,171,188) 95%);
	background: -ms-linear-gradient(top, rgb(128,192,255) 5%, rgb(163,171,188) 95%);
	background: linear-gradient(to bottom, rgb(128,192,255) 5%, rgb(163,171,188) 95%);
}
.nav-btn.orientation.portrait {
	padding-top: 0;
}
.nav-btn.orientation img {
	margin: 0 3px 0 4px;
	/*padding: 0 3px;*/
	width: 16px;
	height: 16px;
}

#pdf-toolbar .scale-select {
	display: inline-block;
	float:left;
	height: 22px;
	line-height: 22px;
	margin-top:1px;
	padding: 1px 0 1px 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 4px 0 0 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	background-color: white;
	outline: 1px solid transparent;
	background-image: url("/img/select-arrow.svg");
	background-position: 100% 50%;
	background-repeat: no-repeat;
	padding-right: 22px;
}

#search-button-widget {
	display:inline-block;
	height: 24px;
	line-height: 24px;
	border: 0px solid transparent;
	padding: 0 0 0 4px;
}

#pdf-page-wrap {
	margin-top: 31px;
}

#pdf-page {
	/*overflow: hidden;*/
}

.pdf-page {
	margin: 0 auto;
	background-color: #fff;
}

#pgNum {
	font-size: 14px;
}

.dialogWrap {
	position:static;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 1;
}

.dialog {
	position:absolute;
	background: rgb(254,254,254);
	background: -webkit-linear-gradient(top, rgb(254,254,254) 20%, rgb(220,225,235) 99%);
	background: -ms-linear-gradient(top, rgb(254,254,254) 20%, rgb(220,225,235) 99%);
	background: linear-gradient(rgb(254,254,254) 20%, rgb(220,225,235) 99%);
	background-size: 100% 100%;
	border:3px solid #fff;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: 0px 0px 20px rgb(0,0,0);
	-moz-box-shadow: 0px 0px 20px rgb(0,0,0);
	box-shadow: 0px 0px 20px rgb(0,0,0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	color: #000;
	z-index: 1010;
}

.dialog .dialog_title {
	margin: 11px;
    font-size: 20px;
    color: #00a5e4;
    padding: 8px;
    background: white;
    border-radius: 3px;
    width: 90%;
}

.dialog .dialog_message, .dialog .dialog_error_message {
	padding: 0 0 15px 0;
}

.dialog .dialog_error {
	color:#cc0000;
	font-weight:bold;
	height: 20px;
}

.dialog button {
	width: 50%;
    height: 44px;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff !important;
    font-size: 18px;
    line-height: 0px;
  
}

.dialog .dialogBtnWrap {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 44px;
	width: 100%;
	height: 45px;
	overflow: hidden;
	background: #5fbb46;
	display: flex;
}

.dialog button.cancel_btn {
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #544D49), color-stop(1, #302A27));
	background: linear-gradient(#544D49 0%, #302A27 100%);
	border-radius: 9px;*/
	background: #F00;
}

.dialog button.normal_btn {
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #167FCA), color-stop(1, #095CB4));
	background: linear-gradient(#167FCA 0%, #095CB4 100%);
	border-radius: 9px;*/
	background: #5fbb46;
}

#annotateClear .dialog {
	width: 400px;
	height: 200px;
}

#pgNum .dialog, #annotateClear .dialog {
	
	background: #00a5e4;
    position: absolute;
    top: 153px;
    left: 50%;
    margin: auto -230px;
    border-radius: 3px;
    text-align: center;
    color: #FFF;
    border-width: 1px;
    border-color: #f4f4f4;
    border-style: solid;
}

#pgNum .dialog {
	width: 400px;
	height: 220px;
}

#pgNum .dialog input {
	width: 200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 24px;
	border: 1px solid #555;
	border-radius: 4px;
	padding: 4px 6px;
	margin: 0 0 30px 0;
	font-size: 14px;
	color: #000;
}

#pgNumBanner {
	position: fixed;
	left: 0;
	bottom: 6%;
	color: #fff;
	background-color: #00a5e4;
	font-size: 12px;	
	font-weight: 300;
	padding: 5px 10px;
	cursor: pointer;
	z-index: 200;
}

#pgNumBanner * {
	font-size: 13px;
}

#annotationNote .dialog {
	width: 360px;
	height: 220px;
	top: 184px;
	left: 470px;
	background: rgb(230, 244, 255);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0;
}

#annotationNote .dialog > .overlay {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	height:100%;
	padding: 10px;
	background:url('/img/ipad/icons/edit-note-overlay.png');
	background-size:100%;
	background-position-y: bottom;
    background-repeat: no-repeat;
}

#annotationNote .annotationNoteDate {
	float:left;
	color:#555;
	font-size:0.8rem;
}

#annotationNote .annotationNoteText {
	padding-top:40px;
	padding-bottom:20px;
}

#annotationNote .annotationNoteText textarea {
	margin:0px;
	height:162px;
	width:340px;
}

#annotationNote textarea {
	border:none;
	background-color: transparent;
}

#annotationNote textarea:focus {
	outline: none !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#annotationNote .annotationNoteSave {
	position: absolute;
	width: 50px;
	height: 26px;
	top: 10px;
	right: 10px;
	margin: 0;
	font-size: 14px;
	font-style: normal;
	border-radius: 3px;
}

#annotationNote .annotationNoteDiscard {
	width: 24px;
	height: 28px;
	margin: 0;
	border: 0;
	background-color: inherit;
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #999 !important;
}

.pdf-canvas-wrap {
	width: 100%;
	border: 1px solid #ccc;
}

#pdf-page-canvas {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
}

#pdf-page-canvas,
#pdf-page-canvas:active,
#pdf-page-canvas:focus,
#pdf-page-canvas:hover,
#pdf-page-canvas:visited {
	cursor:pointer;
}

#pdf-page-canvas.preload {
	background-size: 64px 64px;
	background-position: 50% 50%;
	background-image: url('/img/spin64.gif');
}

.pdf-thumbnail {
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
}

.shadow {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(40,40,40,0.5);
	z-index: 1200;
}

.shadowDismiss {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1001;
}

#arrow-next-container,
#arrow-prev-container {
	position:fixed;
	bottom:22%;
	z-index: 200;
}

#arrow-next-container {
	right:15px;
}

#arrow-prev-container {
	left:15px;
}


#arrow-prev-button,
#arrow-next-button {
	width:57px;
	height:57px;
	background:rgba(0,0,0,0.5);
	color:rgba(255,255,255,0.75);
	font-size:32px;
	line-height:55px;
	text-align:center;
	cursor:pointer;
	border:0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	z-index: 100;
}

#arrow-prev-button {
	padding-right:7px;
}

#arrow-next-button {
	padding-left:7px;
}

#arrow-prev-button:disabled,
#arrow-next-button:disabled {
	background:rgba(0,0,0,0.25);
	color:rgba(255,255,255,0.33);
}

#thumb-carousel {
	width:100%;
	background:rgba(0,0,0,0);
	overflow-x:auto;
	overflow-y:hidden;
	padding-top:100px;
}

.thumb-section-4 .thumb-section-item {
	display:inline-block;
	width:250px;
	box-sizing:border-box;
	text-align:center;
	vertical-align:top;
	margin:0 3px;
	cursor:pointer;
	font-size: 0;
}

.thumb-page-number {
	font-size:14px;
	font-weight:600;
	color:#00a0dd;
	padding:10px;
}

.rotate45 {
	font-size: 1.1em;
	transform: rotate(-45deg);
}

.nav-menu-popup {
	position:absolute;
	top:30px;
	left:3px;
	margin-left:-4px;
	background:transparent;
	width:350px;
}

.nav-menu-popup .nav-menu-wrap {
	display: inline-block;
	overflow: hidden;
	height: 45px;
	white-space: nowrap;
	padding: 0;
	padding-top: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #eee;
	border: 1px solid #999;
	border-top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
}

.nav-menu-popup .nav-menu-wrap.search {
	height: 30px;
}

.nav-menu-popup .nav-menu-wrap .nav-menu-row {
	white-space: nowrap;
}

.nav-menu-popup .nav-menu-wrap .nav-menu-item {
	display:inline-block;
	float:left;
	margin-left:3px;
	height:24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

.nav-menu-popup .nav-menu-wrap .nav-menu-text {
	height:24px;
	line-height:24px;
}

.nav-menu-popup .nav-menu-wrap .nav-menu-item:last-child,
.nav-menu-popup .nav-menu-wrap .nav-menu-item.last{
	margin-right:3px;
}

.nav-menu-popup .nav-menu-wrap .nav-menu-item input[type="text"] {
	border:1px solid #999;
	height:22px;
	line-height:22px;
	margin:1px 0;
	padding:0 5px;
	width:100px;
	color:#000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.nav-menu-popup .nav-menu-wrap .draw-menu-color {
	cursor:pointer;
	display:inline-block;
	width:30px;
	height:30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	margin: 5px;
    border-radius: 6px;
    border: 1px solid rgba(50,50,50,0.75);
}

.modify-main-menu, .modify-sub-menu {
	white-space:nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
}

.modify-sub-menu {
	background:#ccc;
	padding:5px;
}

.modify-main-menu button.modify-button {
	display: inline-block;
	padding: 10px;
	margin-left: -5px;
	border:0;
	border-left: 1px solid #fff;
	background: #2a2a2a;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
}

.modify-main-menu button.modify-button:hover {
	background:#666;
}

.modify-main-menu button.modify-button.first {
	border-left: 0;
	margin-left: 0;
	-webkit-border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.modify-main-menu button.modify-button.last {
	-webkit-border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.modify-sub-menu button.modify-button {
	position:relative;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	width:40px;
	height:40px;
	margin:5px;
	border: 1px solid #555555;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.modify-sub-menu button.modify-button.selected {
	-webkit-box-shadow: 0px 0px 6px 2px #7475ee;
	-moz-box-shadow: 0px 0px 6px 2px #7475ee;
	box-shadow: 0px 0px 6px 2px #7475ee;
}

.modify-sub-menu div.title {
	position: relative;
	padding:0 0 0 5px;
	font-size: 14px;
}

.modify-sub-menu div.line1,
.modify-sub-menu div.line2,
.modify-sub-menu div.line3,
.modify-sub-menu div.line4 {
	position:absolute;
	top:50%;
	left:50%;
	display:block;
	border:0;
	background:#fff;
	-webkit-box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.45);
	-moz-box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.45);
	box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.45);
}

.modify-sub-menu div.line1 {width: 2px; height: 2px; margin:-1px 0 0 -1px;}
.modify-sub-menu div.line2 {width: 4px; height: 4px; margin:-2px 0 0 -2px;}
.modify-sub-menu div.line3 {width: 6px; height: 6px; margin:-3px 0 0 -3px;}
.modify-sub-menu div.line4 {width: 8px; height: 8px; margin:-4px 0 0 -4px;}

.thumb-section-4 {
	overflow:hidden;
}

#stampDialog .dialog {
	top: 240px;
	left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,0%);
	text-align:center;
	padding: 10px;
	border:2px solid #fff;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(227,213,187,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(227,213,187,1)));
	background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(227,213,187,1) 100%);
	background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(227,213,187,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(227,213,187,1) 100%);
	background: linear-gradient(to bottom, #00a5e4 0%, #00a5e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3d5bb', GradientType=0 );
}

#stampDialog .dialog input {
	border:0;
	background-color: transparent;
	text-align:center;
	display:block;
	height:30px;
	margin:0;
	color: #fff;
}

#stampDialog .dialog input[name="date"] {
	font-size:12px;
}

#stampDialog button {
	margin: 0;
}

#stampDialog .undo {
	background: url("/img/ipad/icons/introduce_icons.png") no-repeat -7px -7px;
	position: absolute;
	top: -13px;
	left: -15px;
	height: 30px;
	width: 30px;
	border: none;
	z-index: 2;
	cursor: pointer;
}

#stampDialog .redo {
	background: url("/img/ipad/icons/introduce_icons.png") no-repeat -7px -52px;
	position: absolute;
	top: -13px;
	left: -15px;
	height: 30px;
	width: 30px;
	border: none;
	z-index: 2;
	cursor: pointer;
}

#dialogDateInput { position:relative; }
#dialogDateInput button {
	width: 20px;
	height: 36px;
	background: transparent;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: 0;
	line-height: 36px;
	/*opacity: 0.4;*/
	color: #fff !important;
}

#pgPaused {
	position: fixed;
	left: 0;
	bottom: 15%;
	color: #fff;
	background-color: rgba(80,80,80,0.70);
	font-size: 13px;
	font-style: italic;
	font-weight: 300;
	padding: 5px 10px;
	cursor: pointer;
	z-index: 200;
}

#pgPaused div.icon {
	width:16px;
	height:16px;
	float:left;
	display:block;
	margin-right:5px;
	background: url('/img/ipad/icons/role_badges.png') no-repeat 0 -32px;
}

#pdf-callout-wrap {
	position: absolute;
	z-index:1;
}

canvas.calloutCanvas {
	-moz-box-shadow: 5px 5px 5px #666;
	-webkit-box-shadow: 5px 5px 5px #666;
	box-shadow: 5px 5px 5px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#666666');
}

/*************************************************************/
/*** N E W   D R A W   B U T T O N S   W /   C O L O R *******/
/*************************************************************/
.editor_actions {
	display: none;
	position: relative;
	height: 30px;
}
.editor_actions .edit_btn, .editor_actions .mode_btn {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D7D8D8), color-stop(0.25, #E8E8E8), color-stop(1, #9C9E9E));
	background-image: linear-gradient(#D7D8D8 0%, #E8E8E8 25%, #9C9E9E 100%);
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);
	border: 1px solid black;
	border-radius: 5px;
	float: left;
	margin: 4px 4px 4px 0;
	vertical-align: top;
	height: 34px;
	font-style: italic;
	cursor: pointer;
}
.editor_actions .draw_btn {
	float: left;
	margin: 4px 4px 4px 0;
	vertical-align: top;
	height: 24px;
	font-style: italic;
	cursor: pointer;
	margin: 0;
}
.editor_actions .draw_btn .draw_color {
	width:26px;
	height:16px;
	position:absolute;
	top:3px;
	left:5px;
	z-index:5;
}
.editor_actions .draw_btn.down {
	width:20px;
	height:24px;
	float:left;
	position:relative;
}
.editor_actions .draw_btn.selected {
	background: transparent;
}
.editor_actions .arrow.draw_btn,
.editor_actions .textSelect.draw_btn,
.editor_actions .drawing.draw_btn,
.editor_actions .note.draw_btn {
	width:35px;/*53px*/
	height:24px;/*36px*/
	float:left;
	position:relative;
}
.editor_actions .erase.draw_btn,
.editor_actions .undo.draw_btn,
.editor_actions .callout.draw_btn{
	width:29px;
	height:24px;
	float:left;
	position:relative;
}
.editor_actions .draw_btn > img {
	position:absolute;
	top:0;
	left:0;
	z-index:6;
}
.draw_btn > div.shadow, .edit_btn > div.shadow, .mode_btn > div.shadow, .btn_app_shadow > div.shadow {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	display:none;
	z-index: 25;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.draw_btn:active > div.shadow, .edit_btn:active > div.shadow, .mode_btn:active > div.shadow, .btn_app_shadow:active > div.shadow {
	display:block;
}
.btn_app_shadow, .mode_btn, .edit_btn {
	position: relative;
}
.edit_actions .callout.draw_btn {
	width: 29px;
}

/*

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

   #pdf-page {
		width: 1022px; 
		height: 1472px;
	}

	#pdf-canvas-wrap {
		width: 1022px; 
		height: 1472px;
	}

	#pdf-page-canvas {
		width: 1022px; 
		height: 1472px;
	}
	
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {


   #pdf-page {
	   width: 766px; 
	   height: 1103.3px;
	}

	#pdf-canvas-wrap {
	   width: 766px; 
	   height: 1103.3px;
	}

	#pdf-page-canvas {
	   width: 766px; 
	   height: 1103.3px;
	}

	
}
*/
/*************************************************************/
/*************************************************************/
